
.fundo{
  
  background: url(../imagens/fundoCadastro2.jpg) no-repeat center;
  background-color: rgba(0, 0, 0, 0.8);
}
.sessao-cadastro{

  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  /*
  width: 400px;
  height: 300px;
  margin: 0 auto;
  margin-top: 120px;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(7, 6, 6, 0.3);
  */
}

#container img{
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-bottom: 30px;
}

input{
  width: 80%;
  height: 40px;
  border: none;
  font-size: 18px;
  padding-left: 40px;
  margin-bottom: 10px;
  background-color: #fff;
  background-position: 10px;
  background-repeat: no-repeat;
}


.btn {
  color: #fff;
  width: auto;
  padding: 5px 20px;
  height: 45px;
  border: 2px solid #8E2DE2;
  background-color: #8E2DE2;

  background: linear-gradient(to bottom, #8E2DE2, #8E2DE2);
}
